.home-page{

}

.home-body{
    display: flex;
    background-color:rgb(13, 128, 230)
}

.home-header{        
    height: 300px;    
}

.title{
    text-align: center;    
    color: white;
    display: block;
}

.button-bar{
    display: flex;
    background-color: rgba(149, 240, 225, 0.534);
    justify-content: center;
    height: 100px;
}

.button-item{
    background-color: blueviolet;
    height: 100px;
    width: 200px;    
}

.button{
    height: 100px;
    width: 200px;
}